#resume-form{
    /* display: none; */
}
#resume-template{
    display: none;
}
h4{
    background-color: lightgray;
    color: #000;
}
.background{
    background-color: grey;
    color: #fff;
}
.custom-btn{
    width: 27%;
  
    background-color: grey;
    border: none;
}
